<div class="tabs-component" *ngIf="isEnabled">
    <div class="tabs">
        <div class="tab"
             *ngFor="let tab of tabs"
             [ngClass]="{ 'selected': tab.isSelected, 'disabled': tab.disabled }"
             [ngStyle]="{ 'width': tab.width != 0 ? tab.width + '%' : 'auto' }"
             title="{{ tab.title }}"
             (click)="tab.select()">
            <i class="icon {{ tab.icon }}" *ngIf="tab.icon"></i>
            <span class="caption">{{ tab.caption }}</span>
        </div>
    </div>
    <div class="content">
        <ng-content></ng-content>
    </div>
</div>