.tabs-component {
  overflow: hidden;
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}
.tabs-component .tabs {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-shrink: 0;
  padding-left: 30px;
  padding-right: 30px;
}
.tabs-component .tabs .tab {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  font-family: 'Open Sans Regular';
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  color: #607D8B;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  -webkit-transition: all  0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-transition-property: border-bottom, color;
  -moz-transition-property: border-bottom, color;
  -ms-transition-property: border-bottom, color;
  -o-transition-property: border-bottom, color;
  transition-property: border-bottom, color;
}
.tabs-component .tabs .tab:hover {
  color: #455A64;
}
.tabs-component .tabs .tab.selected {
  color: #64B5F6;
  border-bottom: 3px solid #64B5F6;
}
.tabs-component .tabs .tab.disabled {
  color: #CFD8DC;
  cursor: default;
}
.tabs-component .tabs .tab .icon {
  margin-right: 10px;
}
.tabs-component .tab-content {
  overflow: auto;
  border-top: 1px solid #ECEFF1;
}
