<div style="width: 100%; height: 100%;">
    <tabs [id]="'lol'">

        <tab [id]="'buttons-tab'" [caption]="'buttons'" [icon]="'fa fa-button'">
            <div class="padding-20">
                <div class="margin-bottom-20">
                    <button class="btn small gray">sample button</button>
                    <button class="btn small gray" disabled>sample button</button>
                    <button class="btn small gray outline">sample button</button>
                    <button class="btn small gray outline" disabled>sample button</button>
                    <button class="btn small gray"><i class="fa fa-search"></i></button>
                    <button class="btn small gray round"><i class="fa fa-gears"></i></button>
                </div>
                <div class="margin-bottom-20">
                    <button class="btn blue">sample button</button>
                    <button class="btn blue" disabled>sample button</button>
                    <button class="btn blue outline">sample button</button>
                    <button class="btn blue outline" disabled>sample button</button>
                    <button class="btn blue"><i class="fa fa-search"></i></button>
                    <button class="btn round blue"><i class="fa fa-gears"></i></button>
                </div>
                <div class="margin-bottom-20">
                    <button class="btn medium green">sample button</button>
                    <button class="btn medium green" disabled>sample button</button>
                    <button class="btn medium green outline">sample button</button>
                    <button class="btn medium green outline" disabled>sample button</button>
                    <button class="btn medium green"><i class="fa fa-search"></i></button>
                    <button class="btn medium round green"><i class="fa fa-gears"></i></button>
                </div>
                <div class="margin-bottom-20">
                    <button class="btn big red">sample button</button>
                    <button class="btn big red" disabled>sample button</button>
                    <button class="btn big red outline">sample button</button>
                    <button class="btn big red outline" disabled>sample button</button>
                    <button class="btn big red"><i class="fa fa-search"></i></button>
                    <button class="btn big red round"><i class="fa fa-gears"></i></button>
                </div>
            </div>
        </tab>

        <tab [id]="'inputs-tab'" [caption]="'inputs'" [icon]="'fa fa-pencil'">
            <div class="padding-20">
                <div class="margin-bottom-20">
                    <input class="inp small" type="text" placeholder="test text">
                    <input class="inp small" type="text" disabled placeholder="disabled input">
                    <input class="inp small outline" type="text">
                    <input class="inp small outline" type="text" disabled placeholder="disabled input">
                    <input class="inp small underline" type="text" placeholder="type here...">
                    <input class="inp small underline" type="text" disabled placeholder="disabled input">
                </div>
                <div class="margin-bottom-20">
                    <input class="inp blue" type="text" placeholder="test text">
                    <input class="inp blue" type="text" disabled placeholder="disabled input">
                    <input class="inp blue outline" type="text">
                    <input class="inp blue outline" type="text" disabled placeholder="disabled input">
                    <input class="inp blue underline" type="text" placeholder="type here...">
                    <input class="inp blue underline" type="text" disabled placeholder="disabled input">
                </div>
                <div class="margin-bottom-20">
                    <input class="inp medium green" type="text" placeholder="test text">
                    <input class="inp medium green" type="text" disabled placeholder="disabled input">
                    <input class="inp medium green outline" type="text">
                    <input class="inp medium green outline" type="text" disabled placeholder="disabled input">
                    <input class="inp medium green underline" type="text" placeholder="type here...">
                    <input class="inp medium green underline" type="text" disabled placeholder="disabled input">
                </div>
                <div class="margin-bottom-20">
                    <input class="inp big red" type="text" placeholder="test text">
                    <input class="inp big red" type="text" disabled placeholder="disabled input">
                    <input class="inp big red outline" type="text">
                    <input class="inp big red outline" type="text" disabled placeholder="disabled input">
                    <input class="inp big red underline" type="text" placeholder="type here...">
                    <input class="inp big red underline" type="text" disabled placeholder="disabled input">
                </div>
            </div>
        </tab>

        <tab [id]="'test1'" [caption]="'tabs'" [icon]="'fa fa-globe'" [title]="'tabs example'">
            <div class="padding-20">
                <button class="btn blue" (click)="selectFirstTab()">select first tab</button>
                <button class="btn green" (click)="selectThirdTab()">select third tab</button>
                <button class="btn gray" (click)="disableFirstTab()">disable first tab</button>
                <button class="btn gray" (click)="enableFirstTab()">enable first tab</button>
            </div>
        </tab>

        <tab [id]="'test2'" [caption]="'modals'" [icon]="'fa fa-window-maximize'" [title]="'modals example'">
            <div class="padding-20">
                <modal [id]="'test-modal'" [header]="true" [caption]="'test modal caption'" [depth]="1" [icon]="'fa fa-globe'">
                    <div class="column width-100">
                        <tabs [id]="'second-tabs'">
                            <tab [id]="'test1'" [caption]="'test tab one'" [width]="50">
                                <div class="column padding-20">
                                    <div class="row width-100 margin-bottom-15">
                                        <input class="inp width-100" type="text">
                                    </div>
                                    <div class="row width-100 margin-bottom-15">
                                        <input class="inp width-100" type="text">
                                    </div>
                                    <div class="row width-100 margin-bottom-15">
                                        <input class="inp width-100" type="text">
                                    </div>
                                    <div class="row width-100 margin-bottom-15">
                                        <input class="inp width-100" type="text">
                                    </div>
                                    <div class="row width-100 horizontal-between margin-bottom-15">
                                        <button class="btn green width-50 margin-right-5">ok button</button>
                                        <button class="btn red width-50 margin-left-5">cancel button</button>
                                    </div>
                                    <div class="column">
                                        <button class="btn gray width-100 margin-bottom-5" (click)="openSecondModal()">
                                            <i class="fa fa-window-maximize margin-right-10"></i>
                                            open second modal
                                        </button>
                                        <button class="btn gray width-100" (click)="closeModal()">
                                            <i class="fa fa-window-minimize margin-right-10"></i>
                                            close modal
                                        </button>
                                    </div>
                                </div>
                            </tab>
                            <tab [id]="'test2'" [caption]="'test tab two'" [width]="50">second test tab</tab>
                        </tabs>
                    </div>
                </modal>
                <modal [id]="'second-test-modal'" [header]="false" [caption]="'second test modal with long text with ellipsis'" [width]="300" [height]="200" [depth]="2">
                    <div class="column width-100 padding-20 horizontal-center vertical-center">
                        <button class="btn medium blue outline width-80 margin-bottom-10" (click)="openModal()">open first modal</button>
                        <button class="btn medium blue outline width-80" (click)="closeSecondModal()">close second modal</button>
                    </div>
                </modal>
                <button class="btn medium gray" (click)="openModal()">open modal</button>
                <button class="btn  mediumgray" (click)="openSecondModal()">open second modal</button>
            </div>
        </tab>



        <tab [id]="'test3'" [caption]="'tab 3'" [icon]="'fa fa-gears'" [title]="'tab 3 title'">
            <div class="padding-20">
                tab 3 content here
            </div>
        </tab>
    </tabs>

</div>


