input[type='button'],
button {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 35px;
  padding: 7px 10px;
  background: transparent;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  -webkit-transition: background 0.2s ease-in;
  -moz-transition: background 0.1s ease-in;
  -ms-transition: background 0.1s ease-in;
  -o-transition: background 0.1s ease-in;
  transition: background 0.1s ease-in;
}
input[type='button'].blue,
button.blue {
  color: #2196F3;
  border: 1px solid #2196F3;
}
input[type='button'].blue:hover,
button.blue:hover {
  color: white;
  background: #1565C0;
  border: 1px solid #1565C0;
}
input[type='button'].blue[disabled],
button.blue[disabled] {
  color: #90CAF9;
  border: 1px solid #90CAF9;
  cursor: default;
}
input[type='button'].blue[disabled]:hover,
button.blue[disabled]:hover {
  background: transparent;
}
input[type='button'].green,
button.green {
  color: #4CAF50;
  border: 1px solid #4CAF50;
}
input[type='button'].green:hover,
button.green:hover {
  color: white;
  background: #2E7D32;
  border: 1px solid #2E7D32;
}
input[type='button'].green[disabled],
button.green[disabled] {
  color: #A5D6A7;
  border: 1px solid #A5D6A7;
  cursor: default;
}
input[type='button'].green[disabled]:hover,
button.green[disabled]:hover {
  background: transparent;
}
input[type='button'].red,
button.red {
  color: #F44336;
  border: 1px solid #F44336;
}
input[type='button'].red:hover,
button.red:hover {
  color: white;
  background: #C62828;
  border: 1px solid #C62828;
}
input[type='button'].red[disabled],
button.red[disabled] {
  color: #EF9A9A;
  border: 1px solid #EF9A9A;
  cursor: default;
}
input[type='button'].red[disabled]:hover,
button.red[disabled]:hover {
  background: transparent;
}
input[type='button'].round,
button.round {
  width: 35px;
  border-radius: 50%;
}
