@import (reference) 'colors';

/* Button height */
@button-height: 30px;
/* Button font size */
@button-font-size: 12px;
/* Button padding */
@button-padding: 7px 10px;
@button-font-family: 'Open Sans Regular';
/* Button border radius */
@button-border-radius: 4px;


input[type='button'], input[type='submit'], button {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: @button-height;
  padding: @button-padding;
  font-size: @button-font-size;
  background: transparent;
  color: @color-gray-regular;
  border: 1px solid @color-gray-regular;
  border-radius: @button-border-radius;
  cursor: pointer;
  outline: none;
  -webkit-transition: background 0.2s ease-in;
  -moz-transition: background 0.1s ease-in;
  -ms-transition: background 0.1s ease-in;
  -o-transition: background 0.1s ease-in;
  transition: background 0.1s ease-in;

  &:hover {
    color: white;
    background: @color-gray-hover;
    border: 1px solid @color-gray-hover;
  }
  &[disabled] {
    color: @color-gray-disabled;
    border: 1px solid @color-gray-disabled;
    cursor: default;
    &:hover {
      background: transparent;
    }
  }

  &.blue {
    color: @color-blue-regular;
    border: 1px solid @color-blue-regular;
    &:hover {
      color: white;
      background: @color-blue-hover;
      border: 1px solid @color-blue-hover;
    }
    &[disabled] {
      color: @color-blue-disabled;
      border: 1px solid @color-blue-disabled;
      cursor: default;
      &:hover {
        background: transparent;
      }
    }
  }

  &.green {
    color: @color-green-regular;
    border: 1px solid @color-green-regular;
    &:hover {
      color: white;
      background: @color-green-hover;
      border: 1px solid @color-green-hover;
    }
    &[disabled] {
      color: @color-green-disabled;
      border: 1px solid @color-green-disabled;
      cursor: default;
      &:hover {
        background: transparent;
      }
    }
  }

  &.red {
    color: @color-red-regular;
    border: 1px solid @color-red-regular;
    &:hover {
      color: white;
      background: @color-red-hover;
      border: 1px solid @color-red-hover;
    }
    &[disabled] {
      color: @color-red-disabled;
      border: 1px solid @color-red-disabled;
      cursor: default;
      &:hover {
        background: transparent;
      }
    }
  }

  &.round {
    width: @button-height;
    border-radius: 50%;
  }
}