/* Button height */
/* Button font size */
/* Button padding */
/* Button font family */
/* Button border radius */
/**
* Color button mixin
* @color-regular - button background-color
* @color-hover - button background color when hovered
* @color-disabled-background - button background color when disabled
* @color-font - button font-color
**/
/**
* Outline button mixin
* @color-regular - button border and text color
* @color-hover - button border and text color when hovered
* @color-disabled - button border and text color when disabled
 */
.btn {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 32px;
  padding: 7px 10px;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 12px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  -webkit-transition-property: background, border, color;
  -moz-transition-property: background, border, color;
  -ms-transition-property: background, border, color;
  -o-transition-property: background, border, color;
  transition-property: background, border, color;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -ms-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  background: #B0BEC5;
  color: white;
  border: 1px solid #B0BEC5;
  height: 32px;
  /**
  * Disabled button
  **/
  /**
  * Outline button
  **/
  /**
  * Round button
  **/
  /**
  * File input button
  **/
  /**
  * Blue button
  **/
  /**
  * Green button
  **/
  /**
  * Red button
  **/
  /**
  * Small button
  **/
  /**
  * Medium button
  **/
  /**
  * Big button
  **/
}
.btn:hover {
  background: #90A4AE;
  border: 1px solid #90A4AE;
}
.btn[disabled] {
  color: #B0BEC5;
  background: #ECEFF1;
  border: 1px solid #ECEFF1;
}
.btn[disabled]:hover {
  background: #ECEFF1;
}
.btn[disabled] {
  cursor: default;
}
.btn.outline {
  color: #B0BEC5;
  background: transparent;
  border: 1px solid #B0BEC5;
}
.btn.outline:hover {
  color: #90A4AE;
  background: transparent;
  border: 1px solid #90A4AE;
}
.btn.outline[disabled] {
  color: #CFD8DC;
  background: transparent;
  border: 1px solid #CFD8DC;
}
.btn.outline[disabled]:hover {
  color: #CFD8DC;
  background: transparent;
}
.btn.round {
  border-radius: 50%;
  flex-shrink: 0 !important;
  flex-grow: 0 !important;
}
.btn.badged {
  overflow: visible;
}
.btn.badged .badge .fa {
  font-size: 10px;
}
.btn.file input[type='file'] {
  display: none;
}
.btn.blue {
  background: #90CAF9;
  color: white;
  border: 1px solid #90CAF9;
}
.btn.blue:hover {
  background: #64B5F6;
  border: 1px solid #64B5F6;
}
.btn.blue[disabled] {
  color: #90CAF9;
  background: #E3F2FD;
  border: 1px solid #E3F2FD;
}
.btn.blue[disabled]:hover {
  background: #E3F2FD;
}
.btn.blue.outline {
  color: #90CAF9;
  background: transparent;
  border: 1px solid #90CAF9;
}
.btn.blue.outline:hover {
  color: #64B5F6;
  background: transparent;
  border: 1px solid #64B5F6;
}
.btn.blue.outline[disabled] {
  color: #BBDEFB;
  background: transparent;
  border: 1px solid #BBDEFB;
}
.btn.blue.outline[disabled]:hover {
  color: #BBDEFB;
  background: transparent;
}
.btn.green {
  background: #A5D6A7;
  color: white;
  border: 1px solid #A5D6A7;
}
.btn.green:hover {
  background: #81C784;
  border: 1px solid #81C784;
}
.btn.green[disabled] {
  color: #A5D6A7;
  background: #E8F5E9;
  border: 1px solid #E8F5E9;
}
.btn.green[disabled]:hover {
  background: #E8F5E9;
}
.btn.green.outline {
  color: #A5D6A7;
  background: transparent;
  border: 1px solid #A5D6A7;
}
.btn.green.outline:hover {
  color: #81C784;
  background: transparent;
  border: 1px solid #81C784;
}
.btn.green.outline[disabled] {
  color: #E8F5E9;
  background: transparent;
  border: 1px solid #E8F5E9;
}
.btn.green.outline[disabled]:hover {
  color: #E8F5E9;
  background: transparent;
}
.btn.red {
  background: #EF9A9A;
  color: white;
  border: 1px solid #EF9A9A;
}
.btn.red:hover {
  background: #E57373;
  border: 1px solid #E57373;
}
.btn.red[disabled] {
  color: #EF9A9A;
  background: #FFEBEE;
  border: 1px solid #FFEBEE;
}
.btn.red[disabled]:hover {
  background: #FFEBEE;
}
.btn.red.outline {
  color: #EF9A9A;
  background: transparent;
  border: 1px solid #EF9A9A;
}
.btn.red.outline:hover {
  color: #E57373;
  background: transparent;
  border: 1px solid #E57373;
}
.btn.red.outline[disabled] {
  color: #FFEBEE;
  background: transparent;
  border: 1px solid #FFEBEE;
}
.btn.red.outline[disabled]:hover {
  color: #FFEBEE;
  background: transparent;
}
.btn.small {
  height: 25px;
  min-width: 25px;
  padding: 5px;
  font-size: 11px;
  line-height: 11px;
}
.btn.small .round {
  width: 25px !important;
}
.btn.small .fa {
  font-size: 10px;
}
.btn.medium {
  height: 39px;
  min-width: 39px;
  font-size: 13px;
  line-height: 13px;
}
.btn.medium .fa {
  font-size: 17px;
}
.btn.big {
  height: 47px;
  min-width: 47px;
  font-size: 14px;
  line-height: 14px;
}
.btn.big .fa {
  font-size: 20px;
}
