@color-gray-regular: #B0BEC5;
@color-gray-hover: #90A4AE;
@color-gray-strong: #546E7A;
@color-gray-disabled: #CFD8DC;
@color-gray-disabled-background: #ECEFF1;

@color-blue-regular: #90CAF9;
@color-blue-hover: #64B5F6;
@color-blue-strong: #1E88E5;
@color-blue-disabled: #BBDEFB;
@color-blue-disabled-background: #E3F2FD;

@color-green-regular: #A5D6A7;
@color-green-hover: #81C784;
@color-green-strong: #43A047;
@color-green-disabled: #C8E6C9;
@color-green-disabled-background: #E8F5E9;

@color-red-regular: #EF9A9A;
@color-red-hover: #E57373;
@color-red-strong: #C62828;
@color-red-disabled: #FFCDD2;
@color-red-disabled-background: #FFEBEE;