.row {
  display: flex;
  flex-direction: row;
}
.row.horizontal-left {
  justify-content: flex-start;
}
.row.horizontal-right {
  justify-content: flex-end;
}
.row.horizontal-center {
  justify-content: center;
}
.row.horizontal-between {
  justify-content: space-between;
}
.row.horizontal-around {
  justify-content: space-around;
}
.row.vertical-top {
  align-items: flex-start;
}
.row.vertical-bottom {
  align-items: flex-end;
}
.row.vertical-center {
  align-items: center;
}
.row.vertical-stretch {
  align-items: stretch;
}
.column {
  display: flex;
  flex-direction: column;
}
.column.horizontal-left {
  align-items: flex-start;
}
.column.horizontal-right {
  align-items: flex-end;
}
.column.horizontal-center {
  align-items: center;
}
.column.horizontal-stretch {
  align-items: stretch;
}
.column.vertical-top {
  justify-content: flex-start;
}
.column.vertical-bottom {
  justify-content: flex-end;
}
.column.vertical-center {
  justify-content: center;
}
.column.vertical-stretch {
  justify-content: stretch;
}
.column.vertical-around {
  justify-content: space-around;
}
.column.vertical-between {
  justify-content: space-between;
}
.cell {
  display: flex;
}
.width-5 {
  width: 5%;
}
.width-10 {
  width: 10%;
}
.width-15 {
  width: 15%;
}
.width-20 {
  width: 20%;
}
.width-25 {
  width: 25%;
}
.width-30 {
  width: 30%;
}
.width-33 {
  width: 33.33333%;
}
.width-35 {
  width: 35%;
}
.width-40 {
  width: 40%;
}
.width-45 {
  width: 45%;
}
.width-50 {
  width: 50%;
}
.width-55 {
  width: 55%;
}
.width-60 {
  width: 60%;
}
.width-65 {
  width: 65%;
}
.width-66 {
  width: 66.66666%;
}
.width-70 {
  width: 70%;
}
.width-75 {
  width: 75%;
}
.width-80 {
  width: 80%;
}
.width-85 {
  width: 85%;
}
.width-90 {
  width: 90%;
}
.width-95 {
  width: 95%;
}
.width-100 {
  width: 100%;
}
