/* Input height */
/* Input padding */
/* Input font family */
/* Input background color */
/* Disabled input background color */
/* Input border color */
/* Focused input border color */
/* Disabled input border color */
/* Input border radius */
/**
* Color input mixin
* @color-regular - input background-color
* @color-hover - input background color when hovered
* @color-disabled-background - input background color when disabled
* @color-font - input font-color
**/
/**
* Outline input mixin
* @color-regular - button border and text color
* @color-hover - button border and text color when hovered
* @color-disabled - button border and text color when disabled
 */
.inp {
  display: inline-flex;
  height: 30px;
  padding: 7px 10px;
  box-sizing: border-box;
  font-family: 'Open Sans Regular';
  border-radius: 4px;
  outline: none;
  -webkit-transition: border 0.2s linear;
  -moz-transition: border 0.2s linear;
  -ms-transition: border 0.2s linear;
  -o-transition: border 0.2s linear;
  transition: border 0.2s linear;
  background: #ECEFF1;
  color: #90A4AE;
  border: 1px solid #ECEFF1;
  height: 32px;
  /**
  * Outline input
  **/
}
.inp[disabled] {
  color: #B0BEC5;
  background: #ECEFF1;
  border: 1px solid #ECEFF1;
}
.inp[disabled]:hover {
  background: #ECEFF1;
}
.inp:focus {
  border: 1px solid #CFD8DC;
}
.inp.outline {
  color: #90A4AE;
  background: transparent;
  border: 1px solid #B0BEC5;
}
.inp.outline:hover {
  background: transparent;
  border: 1px solid #B0BEC5;
}
.inp.outline[disabled] {
  color: #CFD8DC;
  background: transparent;
  border: 1px solid #CFD8DC;
}
.inp.outline[disabled]:hover {
  color: #CFD8DC;
  background: transparent;
}
.inp.outline:focus {
  border: 1px solid #90A4AE;
}
.inp.underline {
  padding-left: 0px;
  padding-right: 0px;
  color: #90A4AE;
  background: transparent;
  border: none;
  border-bottom: 1px solid #B0BEC5;
  border-radius: 0px;
}
.inp.underline:hover {
  background: transparent;
}
.inp.underline:focus {
  border-bottom: 1px solid #90A4AE;
}
.inp.underline[disabled] {
  color: #CFD8DC;
  border-bottom: 1px solid #CFD8DC;
}
.inp.underline::placeholder {
  color: #B0BEC5;
}
.inp.blue {
  background: #E3F2FD;
  color: #64B5F6;
  border: 1px solid #E3F2FD;
}
.inp.blue[disabled] {
  color: #90CAF9;
  background: #E3F2FD;
  border: 1px solid #E3F2FD;
}
.inp.blue[disabled]:hover {
  background: #E3F2FD;
}
.inp.blue:focus {
  border: 1px solid #BBDEFB;
}
.inp.blue.outline {
  color: #64B5F6;
  background: transparent;
  border: 1px solid #90CAF9;
}
.inp.blue.outline:hover {
  background: transparent;
  border: 1px solid #90CAF9;
}
.inp.blue.outline[disabled] {
  color: #BBDEFB;
  background: transparent;
  border: 1px solid #BBDEFB;
}
.inp.blue.outline[disabled]:hover {
  color: #BBDEFB;
  background: transparent;
}
.inp.blue.outline:focus {
  border: 1px solid #64B5F6;
}
.inp.blue.underline {
  padding-left: 0px;
  padding-right: 0px;
  color: #64B5F6;
  background: transparent;
  border: none;
  border-bottom: 1px solid #90CAF9;
  border-radius: 0px;
}
.inp.blue.underline:hover {
  background: transparent;
}
.inp.blue.underline:focus {
  border-bottom: 1px solid #64B5F6;
}
.inp.blue.underline[disabled] {
  color: #BBDEFB;
  border-bottom: 1px solid #BBDEFB;
}
.inp.blue.underline::placeholder {
  color: #90CAF9;
}
.inp.green {
  background: #E8F5E9;
  color: #81C784;
  border: 1px solid #E8F5E9;
}
.inp.green[disabled] {
  color: #A5D6A7;
  background: #E8F5E9;
  border: 1px solid #E8F5E9;
}
.inp.green[disabled]:hover {
  background: #E8F5E9;
}
.inp.green:focus {
  border: 1px solid #C8E6C9;
}
.inp.green.outline {
  color: #81C784;
  background: transparent;
  border: 1px solid #A5D6A7;
}
.inp.green.outline:hover {
  background: transparent;
  border: 1px solid #A5D6A7;
}
.inp.green.outline[disabled] {
  color: #C8E6C9;
  background: transparent;
  border: 1px solid #C8E6C9;
}
.inp.green.outline[disabled]:hover {
  color: #C8E6C9;
  background: transparent;
}
.inp.green.outline:focus {
  border: 1px solid #81C784;
}
.inp.green.underline {
  padding-left: 0px;
  padding-right: 0px;
  color: #81C784;
  background: transparent;
  border: none;
  border-bottom: 1px solid #A5D6A7;
  border-radius: 0px;
}
.inp.green.underline:hover {
  background: transparent;
}
.inp.green.underline:focus {
  border-bottom: 1px solid #81C784;
}
.inp.green.underline[disabled] {
  color: #C8E6C9;
  border-bottom: 1px solid #C8E6C9;
}
.inp.green.underline::placeholder {
  color: #A5D6A7;
}
.inp.red {
  background: #FFEBEE;
  color: #E57373;
  border: 1px solid #FFEBEE;
}
.inp.red[disabled] {
  color: #EF9A9A;
  background: #FFEBEE;
  border: 1px solid #FFEBEE;
}
.inp.red[disabled]:hover {
  background: #FFEBEE;
}
.inp.red:focus {
  border: 1px solid #FFCDD2;
}
.inp.red.outline {
  color: #E57373;
  background: transparent;
  border: 1px solid #EF9A9A;
}
.inp.red.outline:hover {
  background: transparent;
  border: 1px solid #EF9A9A;
}
.inp.red.outline[disabled] {
  color: #FFCDD2;
  background: transparent;
  border: 1px solid #FFCDD2;
}
.inp.red.outline[disabled]:hover {
  color: #FFCDD2;
  background: transparent;
}
.inp.red.outline:focus {
  border: 1px solid #E57373;
}
.inp.red.underline {
  padding-left: 0px;
  padding-right: 0px;
  color: #E57373;
  background: transparent;
  border: none;
  border-bottom: 1px solid #EF9A9A;
  border-radius: 0px;
}
.inp.red.underline:hover {
  background: transparent;
}
.inp.red.underline:focus {
  border-bottom: 1px solid #E57373;
}
.inp.red.underline[disabled] {
  color: #FFCDD2;
  border-bottom: 1px solid #FFCDD2;
}
.inp.red.underline::placeholder {
  color: #EF9A9A;
}
