@import (reference) 'fonts';
@import (reference) 'buttons';
@import (reference) 'colors';
@import (reference) 'sizes';


/* Input height */
@input-height: @button-height;

/* Input padding */
@input-padding: 7px 10px;

/* Input font family */
@input-font-family: 'Open Sans Regular';

/* Input background color */
@input-background-color: transparent;

/* Disabled input background color */
@input-background-color-disabled: #ECEFF1;

/* Input border color */
@input-border-color: #CFD8DC;

/* Focused input border color */
@input-border-color-focus: #B0BEC5;

/* Disabled input border color */
@input-border-color-disabled: #ECEFF1;

/* Input border radius */
@input-border-radius: 4px;


/**
* Color input mixin
* @color-regular - input background-color
* @color-hover - input background color when hovered
* @color-disabled-background - input background color when disabled
* @color-font - input font-color
**/
.color-input(@color-regular, @color-hover, @color-disabled, @color-disabled-background, @color-font) {
  background: @color-disabled-background;
  color: @color-font;
  border: 1px solid @color-disabled-background;
  &[disabled] {
    color: @color-regular;
    background: @color-disabled-background;
    border: 1px solid @color-disabled-background;
    &:hover {
      background: @color-disabled-background;
    }
  }
  &:focus {
    background: @color-disabled;
    border:1px solid @color-disabled;
    &::placeholder {
      color: @color-hover;
    }
  }
  &::placeholder {
    color: @color-regular;
  }
}



/**
* Outline input mixin
* @color-regular - button border and text color
* @color-hover - button border and text color when hovered
* @color-disabled - button border and text color when disabled
 */
.outline-input(@color-regular, @color-hover, @color-disabled) {
  color: @color-hover;
  background: transparent;
  border: 1px solid @color-regular;
  &:hover {
    //color: @color-hover;
    background: transparent;
    border: 1px solid @color-regular;
  }
  &[disabled] {
    color: @color-disabled;
    background: transparent;
    border: 1px solid @color-disabled;
    &:hover {
      color: @color-disabled;
      background: transparent;
    }
  }
  &:focus {
    border:1px solid @color-hover;
  }
}



.underline-input(@color-regular, @color-hover, @color-disabled) {
  padding-left: 0px;
  padding-right: 0px;
  color: @color-hover;
  background: transparent;
  border: none;
  border-bottom: 1px solid @color-regular;
  border-radius: 0px;
  &:hover {
    background: transparent;
  }
  &:focus {
    border-bottom: 1px solid @color-hover;
  }
  &[disabled] {
    color: @color-disabled;
    border-bottom: 1px solid @color-disabled;
  }
  &::placeholder {
    color: @color-regular;
  }
};



.inp {
  display: inline-flex;
  height: @input-height;
  padding: @input-padding;
  box-sizing: border-box;
  font-family: @input-font-family;
  border-radius: @input-border-radius;
  outline: none;
  -webkit-transition: border 0.2s linear;
  -moz-transition: border 0.2s linear;
  -ms-transition: border 0.2s linear;
  -o-transition: border 0.2s linear;
  transition: border 0.2s linear;
  transition: background 0.2s linear;
  transition: color 0.2s linear;
  .color-input(@color-gray-regular, @color-gray-hover, @color-gray-disabled, @color-gray-disabled-background, @color-gray-strong);
  .size-regular;


  /**
  * Outline input
  **/
  &.outline {
    .outline-input(@color-gray-regular, @color-gray-hover, @color-gray-disabled);
  }

  &.underline {
    .underline-input(@color-gray-regular, @color-gray-hover, @color-gray-disabled)
  }


  &.blue {
    .color-input(@color-blue-regular, @color-blue-hover, @color-blue-disabled, @color-blue-disabled-background, @color-blue-strong);
    &.outline {
      .outline-input(@color-blue-regular, @color-blue-hover, @color-blue-disabled)
    }
    &.underline {
      .underline-input(@color-blue-regular, @color-blue-hover, @color-blue-disabled);
    }
  }


  &.green {
    .color-input(@color-green-regular, @color-green-hover, @color-green-disabled, @color-green-disabled-background, @color-green-strong);
    &.outline {
      .outline-input(@color-green-regular, @color-green-hover, @color-green-disabled)
    }
    &.underline {
      .underline-input(@color-green-regular, @color-green-hover, @color-green-disabled);
    }
  }


  &.red {
    .color-input(@color-red-regular, @color-red-hover, @color-red-disabled, @color-red-disabled-background, @color-red-strong);
    &.outline {
      .outline-input(@color-red-regular, @color-red-hover, @color-red-disabled)
    }
    &.underline {
      .underline-input(@color-red-regular, @color-red-hover, @color-red-disabled);
    }
  }


  /**
 * Small button
 **/
  &.small {
    .size-small;
    padding: 5px;
    //font-size: 11px;
    //line-height: 11px;
    //.round {
    //  width: @size-small-height;
    //}
    //.fa {
    //  font-size: 10px;
    //}
  }

  /**
  * Medium button
  **/
  &.medium {
    .size-medium;
    //min-width: @size-medium-height;
    //font-size: 13px;
    //line-height: 13px;
  }

  /**
  * Big button
  **/
  &.big {
    .size-big;
    //min-width: @size-big-height;
    //font-size: 14px;
    //line-height: 14px;
  }
}



